/*.about-container { align-items: top; }*/

.about-container img {
  float: left;
  padding: 1em;
  width: 30em;
  align-items: center;
}

.about { padding: 1em; }

.about p:before {
  /* Ensure the text has a minimum width, instead of wrapping around the floated image */
  /* from: https://stackoverflow.com/a/32324732 */
  content: "";
  width: 16em;
  display: block;
  overflow: hidden;
  clear: right;
}

.about-quote { float: bottom; }

@media only screen and (max-width: 872px) {
  .about-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }
  .about-container img {
    float: none;
    max-width: 100%;
    width: 70%;
  }
}
