:root {
  --max-width: 1280px;

  --bg: #333;
  --header-bg: #333;
  --fg: #DDD;
  --header-fg: #DDD;
  --header-focus: #00AADD;
  --header-name-height: 75px;

  --button-padding: 0.5em;

  /* Hamburger and sidebar */
  --hamburger-menu-bg: #333;
  --sidebar-width: 60px;
  --sidebar-vertical-padding: 100px;
  --sidebar-height: 8px;
  --sidebar-gap: 1.5em;
  --sidebar-margin: 37px;
  --hamburger-menu-size: 30px;

  --transition-time: 0.3s;

}

html { scroll-behavior: smooth; }

body {
  background: var(--bg);
  color: var(--fg);
  max-width: var(--max-width);
  margin: auto;
  padding: 1em 5vw;
}

/* Restyle links */
a {
  color: #EEE;
  text-decoration: underline;
}
a:hover { background: #777; }
.logo a:hover { background: transparent; }

header {
  display: flex;
  flex: grow;
  align-items: center;
  justify-content: space-between;
  color: var(--header-fg);
  background-color: var(--header-bg);
}

.logo {
  max-height: var(--header-name-height);
  padding: 0 0 0 20px;
}

.logo img { max-height: var(--header-name-height); }

.hamburger-menu {
  position: absolute;
  top: var(--sidebar-margin);
  right: var(--sidebar-margin);
  width: var(--hamburger-menu-size);
  height: var(--hamburger-menu-size);
  background: linear-gradient(
    to bottom,
    var(--fg)  0%, var(--fg)  20%,
    var(--bg) 20%, var(--bg)  40%,
    var(--fg) 40%, var(--fg)  60%,
    var(--bg) 60%, var(--bg)  80%,
    var(--fg) 80%, var(--fg) 100%
  );
  z-index: 13;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input,
.hamburger-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: black;
  z-index: 11;
}

nav {
  display: flex;
  flex-grow: 1;
  z-index: 12;
}

nav ul {
  display: flex;
  flex-grow: 1;
  padding: 0 3em;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  transition: width var(--transition-time);
}

nav ul li a {
  color: var(--header-fg);
  text-decoration: none;
  white-space: nowrap;
  padding: var(--button-padding);
}

/* Enable side-by-side header links if there is enough space */
@media screen and (max-width: 42rem) {
  .hamburger-menu { display: flex; }

  nav ul {
    flex-direction: column;
    width: 0%;
    height: calc(100vh - 2*var(--sidebar-vertical-padding));
    overflow: hidden;
    justify-content: initial;
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--sidebar-vertical-padding) 0px;
    margin: 0px;
    gap: var(--sidebar-gap);
    background: black;
  }

  .hamburger-menu:has(input:checked) + nav ul {
    width: 50%;
    padding: var(--sidebar-vertical-padding) 20px;
  }

  /* Enable overlay transition only when hovering on the hamburger menu - avoids flashing on page load */
  .hamburger-menu:hover ~ .overlay { transition: var(--transition-time); }

  .hamburger-menu:has(input:checked) ~ .overlay {
    visibility: visible;
    opacity: 0.6;
  }

  .hamburger-menu:has(input:checked) {
    position: fixed;
  }
}

/* End of HEADER */

hr {
  height: 2px;
  background-color: var(--fg);
}

h1 {
  text-align: center;
  color: var(--header-fg);
}

blockquote {
  text-align: left;
  font-style: oblique;
}

/* Full page painting */
.painting-container {
  display: flex;
  padding: 2em 0 0 0;
  flex-direction: row;
}

.painting-data {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}

.painting-data h1 { margin: 0; }

@media only screen and (max-width: 42rem) {
  .painting {
    max-width: 100%;
    max-height: 500px;
  }
  .painting-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Footer */
footer {
  text-align: center;
  bottom: 0;
  background: transparent;
  padding: 2em 0.5em 1em;
}

footer span {
  padding: 0.2em 0.5em;
  background: var(--bg);
}

/* Socials */
footer p a img {
  max-height = 25px;
  vertical-align: middle;
  height = 25px;
}
footer p a {
  padding: 5px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;

}
footer p a:hover {
  transition: 0.2s; -webkit-transition: 0.2s;
}
